
<div class="modal-header">
    <h4 class="modal-title">My Form</h4>
    <button type="button" class="close">&times;</button>
    <button type="button" class="close" aria-label="Close"
     (click)="activeModal.dismiss('Cross click')">
    </button>
  </div>
  <form [formGroup]="myForm" (ngSubmit)="submitForm()">
    <div class="modal-body">
      <div class="container">
        <div class="form-group" >
            <label for="hours">Hours:</label>
              <select aria-label="hours" class="form-control" formControlName="hours">
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                </select>
            </div>
            <div class="form-group">
                <label for="minutes">Minutes:</label>
                <select aria-label="minutes" class="form-control" formControlName="minutes">
                    <option value="00">00</option>
                    <option value="05">05</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                    <option value="30">30</option>
                    <option value="35">35</option>
                    <option value="40">40</option>
                    <option value="45">45</option>
                    <option value="50">50</option>
                    <option value="55">55</option>
                  </select>
              </div> 
              <button class="btn btn-success"
        [disabled]="!myForm.valid">
        Look Up
      </button>
              
            <div> 
              <h4 *ngIf="isDataAvailable">Stock Value : </h4>
              <ul class="list-inline">
                <li class="w-25 list-inline-item"  *ngFor="let stock of finalStockValue | keyvalue">
                  <h1 *ngIf="isDataAvailable; else showError">{{stock.key}}:</h1>
                  <h4 *ngIf="isDataAvailable ; else showError">{{stock.value}}</h4>
                </li>
              </ul>
              <ng-template #showError>
                <h3>Please enter the value between 11:30 to 20:00</h3>
              </ng-template>
              
            </div>
      </div>
    </div>
    <div class="modal-footer">
      
    </div>
  </form>

